body {
    text-align: center;
}

#grid {
    height: 80vh;
    border: 3px solid gray;
}

.square {
    background-color: gold;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
}

.square.active {
    background-color: lightseagreen;
}

.square.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}